.main-body	{	
	background-image:url('../imgs/dashboard_bg.png');
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}
.header{
	position:absolute;
	top:0px;
	left:0px;	
	height:48px;
	width:100%;
	background-color:#152f3c;
	vertical-align:middle;
}

.header-heading	{
	margin:10px;
	position:absolute;
	left:20px;
	font-family:Arial;
	font-size:25px;
	font-weight:Bold;
	color:#ffffff;
	vertical-align:middle;
}

.header-welcome	{
	margin:15px;
	position:absolute;
	right:14%;
	font-family:Arial;
	font-size:14px;
	font-weight:Bold;
	color:#ffffff;
	vertical-align:middle;
}

.header-user-name	{
	margin:15px;
	position:absolute;
	right:10%;
	font-family:Arial;
	font-size:14px;
	font-weight:Bold;
	color:#3a91bf;
	vertical-align:middle;
}

.header-vertical-line	{
	margin:15px;
	width: 0px;
	height: 18px; 
	border: 1px inset;
	background-color:#3a91bf;
	position:absolute;
	right:8%;
}

.header-logout-image	{
	margin:15px;
	position:absolute;
	right:40px;
	bottom:-20px;
	vertical-align:middle;
}

.header-logout	{
	margin:15px;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	position:absolute;
	right:20px;
	text-decoration:none;
}

.form-search	{
	position:absolute;
	left:0px;
	top:50px;	
	width:100%;
	height:47px;
	background-color:#eeeeee;
}

.nav-button	{
	position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: #4684a9;
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
}

.search	{
	position:absolute;
	top:7px;
	left:45px;	
	height:30px;
	width:90%;
	background-color:#ffffff;
	border:1px solid #c7c7c7;
}

.button-search	{
	position:absolute;
    right:0.3%;
	display:block;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	width:70px;
	height:30px;
	background:#00a3cc;
	color:#ffffff;
	padding: 6px;
	border:1px solid #6d97b0;
	margin:9px;
	border-radius: 8px;
	vertical-align: middle;
}
.sidenav {
    height:217px;
    width:0px;
    position:absolute;
    top: 97px;
    left: -25px;
    background-color:#4684a8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
	box-shadow: #000000 0px 15px 27px 2px;
	z-index: 1;
}

.sidenav a {
    padding: 7px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
	font-weight:normal;
    display: block;
    transition: 0.3s;
	border-bottom: 1px Solid #34637e;
	z-index: 1;
}

.sidenav a:hover  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
	background-color:Black;
    color: #00BFFF;
    display: block;
    transition: 0.3s;
	border: 2px;
	z-index: 1;
}

.sidenav a:focus  {
    padding: 7px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
	font-weight:normal;
    display: block;
    transition: 0.3s;
	border-bottom: 1px Solid #34637e;
	z-index: 1;
}
.offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.wrapper {
	position:absolute;
	left:0px;
	top:97px;
	margin:0px; 
	width:100%;
	height:100%;
	overflow: scroll;
	margin-top:4%;
	margin-left:3%;
	margin-right:3%;
	margin-bottom:4%;
}
.package {
	box-sizing: border-box;
	width: 23.5%;
	min-width:150px;
	height: 170px;
	border: 0px;
	display: inline-block;
	margin:auto;
	background-repeat:no-repeat;
}
.package:hover {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.name {
	position:relative;
	top:120px;
	left:0px;
	padding-left:20px;
	height:50px;
	background-color: #ffffff;
	box-sizing: border-box;
	opacity:0.5;
	font-family:Arial;
	font-size:20px;
	font-weight:Bold;
	color:#000000;
	text-decoration:none;
}

.name a {
	color:#000000;
	text-decoration:none;
}


.name:hover{
	border:1px solid red;
	padding-left:20px;
	top:70px;
	left:0px;
	height:100px;
	background-color: #ffffff;
	box-sizing: border-box;
	opacity:0.5;
	font-family:Arial;
	font-size:20px;
	font-weight:Bold;
	color:#000000;
}

.package:hover .name{
	border:1px solid red;
	padding-left:20px;
	top:70px;
	left:0px;
	height:100px;
	background-color: #ffffff;
	box-sizing: border-box;
	opacity:0.5;
	font-family:Arial;
	font-size:20px;
	font-weight:Bold;
	color:#000000;
}

.botlist-ul	{
	visibility:hidden;
	top:90px;
	left:10px;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}

.package:hover .botlist-ul	{
	visibility:visible;
}

.footer-cls	{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin:2px;
	height:1%;
	background-color:#ffffff;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:10px;
	text-align:left;
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
	color:#b0b0b0;
	display: block;
}

.logo	{
	position:absolute;
    right:5px;
	width:130px;
    height:35px;
	padding-right:10px;
}
	