.main-body{ 
	overflow-y: scroll; 
	height:100%;
	width:100%;
}
.header{
	position:absolute;
	top:0px;
	left:0px;	
	height:48px;
	width:100%;
	background-color:#152f3c;
	vertical-align:middle;
}

.header-heading	{
	margin:10px;
	position:absolute;
	left:20px;
	font-family:Arial;
	font-size:25px;
	font-weight:Bold;
	color:#ffffff;
	vertical-align:middle;
}

.header-welcome	{
	margin:18px;
	position:absolute;
	right:14%;
	font-family:Arial;
	font-size:14px;
	font-weight:Bold;
	color:#ffffff;
	vertical-align:middle;
}

.header-user-name	{
	margin:15px;
	position:absolute;
	right:10%;
	font-family:Arial;
	font-size:14px;
	font-weight:Bold;
	color:#3a91bf;
	vertical-align:middle;
}

.header-vertical-line	{
	margin:15px;
	width: 0px;
	height: 18px; 
	border: 1px inset;
	background-color:#3a91bf;
	position:absolute;
	right:8%;
}

.header-logout-image	{
	margin:15px;
	position:absolute;
	right:40px;
	bottom:-16px;
	vertical-align:middle;
}

.header-logout-image:hover	{
	 transform: scale(1.2, 1.2);
}

.header-logout	{
	margin:15px;
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	position:absolute;
	right:20px;
	text-decoration:none;
}

.header-marquee	{
	position:absolute;
	top:48px;
	left:0px;	
	height:40px;
	width:100%;
	border-bottom:1px Solid #4c4c4c;
	background-color:#eeeeee;
	font-family:Arial;
	font-size:26px;
	font-weight:normal;
	color:#162f3d;
	vertical-align:middle;
}

.header-marquee-part	{
	color:#4684a8;
}

.background-top	{
	position:absolute;
	top:88px;
	left:0px;
	width:100%;
	height:350px;
	background-image:url(../imgs/background01.png);
	background-repeat:no-repeat;
	background-size:cover;
	z-index:1;
}

.background-top-box	{
	width:346px;
	height:176px;
	margin-top: 8%;
    margin-bottom:15%;
    margin-left: 5%;
	background: #000000;
	border: 1px solid #ebebeb;
	opacity:0.8;
	border-color:#214154;
    margin-right: 11%;
	font-family:Arial;
	font-weight:normal;
	padding-left:25px;
	padding-top:5px;
	padding-right:25px;
	padding-bottom:25px;
}

.background-top-box-welcome	{
	font-size:30px;
	color:#ffffff;
}

.background-top-box-user-name	{
	color:#4684a8;
	font-size:30px;
}

.background-top-box-hr{
	width:100%;
	border:1px Solid #403d3c;
	margin-top: 12px;
    margin-bottom: 12px;
}

.background-top-box-transaction	{
	font-size:16px;
	color:#8a8887;
}

.background-top-box-date	{
	font-size:20px;
	font-weight:bold;
	color:#4684a8;
}

.background-top-box-reference	{
	font-size:18px;
	font-weight:normal;
	color:#ff9600;
	text-decoration:underline;
}

.display-container	{
	position:absolute;
	top:0px;
	right:0px;
	width:26%;
	height:350px;
}

.myslide	{
	display:none;
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
	background-color:#000000;
}
.w3-badge {
	height: 13px;
	width: 13px;
    padding: 0;
    text-align:right;
}

.w3-transparent	{
	opacity:1;
}

.w3-transparent:hover	{
	opacity:0.5;
}

.bottom-body	{
	position:absolute;
	top:438px;
	left:0px;
	padding:25px;
	width:100%;
	margin-bottom:5%;
}

.summary-img	{
}

.summary	{
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#333333;
}

.images-table	{
	margin-top:30px;
	margin-left:30px;
	border-right-color:#dce0e2;
	border-right-style:Solid;
	width:70%;
}

.table-img	{
	padding-left:30px;
	padding-right:30px;
}

.small-text-14	{
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	color:#333333;
	padding-top:30px;
	padding-left:30px;
	padding-right:30px;
}	

.big-text-22	{
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	color:#4684a8;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}	

.payment-img	{
	position:absolute;
	right:25px;
	top:25px;
	width:26%
}

.payment	{
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#333333;
}

.red-box	{
	margin-top:10px;
	width:100%;
	height:57px;
	border:1px Solid #fba6a6;
	background:#ffeaea;
}

.yellow-box	{
	margin-top:10px;
	width:100%;
	height:57px;
	border:1px Solid #f8cda6;
	background:#fff4d8;
}

.green-box	{
	margin-top:10px;
	width:100%;
	height:57px;
	border:1px Solid #b4e3b1;
	background:#dff6da;
}

.box-number-red	{
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#b34141;
}

.box-number-yellow	{
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#ffa64d;
}

.box-number-green	{
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	color:#669900;
}

.box-detail	{
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

.small-clip-art	{
	position:absolute;
	right:0px;
}

.bottom-menu	{
	width:100%;
	margin-top:30px;
	text-align:left;
	padding-bottom: 0;

}

.bottom-menu th	{
	width:322px;
	height:41px;
	border:1px Solid #aeaeae;
	background-color:#b0bec7;
	border-radius:5%;
	padding-left:10px;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	color:#232628;
	border-right: 13px solid transparent;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.bottom-menu td	{
	padding-left:10px;
	width:322px;
	height:100px;
	border:1px Solid #cccccc;
	background-color:#f3f3f3;
	font-family:Arial;
	font-size:16px;
	font-weight:normal;
	color:#424a4d;
	text-decoration:underline;
    border-right: 10px solid transparent;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.clip-art-lowest	{
	display: block;
	position:relative;
    right: -228px;
    top: -98px;
}

.start	{
	position: fixed;
	right: 0;
	bottom: 34px;
	left: 0;
	margin:2px;
	height:10px;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:10px;
	text-align:left;
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
	color:#b0b0b0;
	display: block;
}

.chatbot-img	{
	position:absolute;
	right:5px;
	top:0px;
}

.footer-cls	{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	margin:2px;
	height:20px;
	background-color:#ffffff;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:10px;
	text-align:left;
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
	color:#b0b0b0;
	display: block;
	z-index:999;
}

.logo	{
	position:absolute;
    right:5px;
	width:130px;
    height:35px;
	padding-right:10px;
}
	