html, body, container-fluid {
	width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.navbar	{
	margin-bottom:0px;
}

.main-body	{	
	box-sizing: border-box;
	padding:0px;
}

.top{
	background-image:url('../imgs/Media-Entertainment_Bg.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding:0px;
	margin:0px;
	height:15em;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.hr-header	{
	width: 97%;
	border: 1px solid #535353;
}

.blue-box-header-heading {
    font-size: 2em;
    text-align: left;
    width: 100%;
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 100!important;
    color: #535353!important;	
	padding-left:3%;
}

.box	{
	margin-top:30px;
	right: 39%;
    top: 23%;
    float: right;
    left: 50%;
	display: block;
}

.heading1	{
	text-align: left;
    color: #FFF;
    float: left;
	width: 98%!important;
    font-size: 220%!important;
    padding-bottom: 6px;
    position: relative;
	display: block;
}

.heading2	{
	font-size: 134%;
    text-align: left;
    color: #fff;
    float: left;
    margin-left: 95px;
}

.blue-box-table	{
	width:100%;
	height:7.6875em;
	padding:10px;
}

.blue-small-square{
	background-color:#194479;
	width:21.6875em;	
}

.blue-small-boxes{
	background-color:#ffffff;
}

.blue-small-text	{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	text-align: left;
	color: #194479;
	font-size: 10px;
	font-weight: 100;
}

.blue-small-text li {
    text-align: justify;
    font-style: italic;
    font-weight: 300;
    font-family: roboto;
    font-size: 16px!important;
    line-height: 1.6;
}

.blue-small-square-heading	{
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	font-weight: 200;
}

.media-body	{
	display: table-cell;
    vertical-align: top;
}

.paddingbtm66 {
    padding-bottom: 10px;
}

.media-heading{
	font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
	padding-top:10px;
	padding-bottom: 10px;
}

p {
	color: #353539;
    text-align: justify;
    font-style: italic;
    font-weight: 300;
    font-family: roboto;
    font-size: 19px!important;
    line-height: 1.6;
}

.grey-box-middle-heading	{
	color: #194479;
	font-style: normal;
    font-weight: 400;
    font-size: 26px!important;
    text-transform: none;
    line-height: 37px!important;
	text-align:center;
}

.boxes	{
	padding:0px;
	margin:0px;
}

.section-heading	{
	font-size: 26px!important;
	font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400;
	color: #2C5487;
	margin-top: 20px;
    margin-bottom: 10px;
	text-align: center;
	word-wrap: break-word;
}

.small-boxes-middle	{
	width: 16.66666667%;
	padding-right: 15px;
	padding-left: 15px;
	height: 220px!important;
	display: block;
	background: #315786;
	margin: 0 0 40px;
	height: 200px!important;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.middle	{
	background-image:url('../imgs/insurance-bg1.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding:0px;
	padding-bottom:20px;
	margin:0px;
}
	
.text-middle	{
	margin:10px;
}

.hr-middle	{
	width:86%;
	height:1px;
	background-color:#a39c9c;
	margin-left:35px;
}
.top-text	{
	line-height: 1.42857143;
	color: #3d2e11;
	font-family: Roboto,sans-serif!important;
	line-height: 1.8;
    font-size: 16px !important;
	font-weight: 300;
	margin:10px;
	margin-left:20px;
	text-decoration: none!important;
}
.grey-small-boxes{
	padding:22px;
	border: 2px solid;
	background-color:#ffffff;
	margin:10px;
}

.grey-small-boxes .media-heading{
	font-size: 18px;
    margin: 10px 0;
    color: #194479;
    text-align: center;
    font-weight: bold;
	padding-top:10px;
	padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
	.boxes	{
		margin-left: 20px;
	}

	.grey-small-boxes{
		padding:22px;
		border: 2px solid;
		background-color:#ffffff;
		margin:5px;
		width:450px;
		height:400px;
	}
}

.grey-small-boxes p {
	color: #353539;
    text-align: justify;
    font-style: italic;
    font-weight: 300;
    font-family: roboto;
    font-size: 16px!important;
    line-height: 1.6;
}


.start	{
	position: fixed;
	right: 0;
	bottom: 4.75em;
	left: 0;
	margin:0.125em;
	height:0.625em;
	padding-top:1.25em;
	padding-bottom:1.875em;
	padding-left:0.625em;
	text-align:left;
	font-family: Arial;
    font-size:75%;
    font-weight: normal;
	color:#b0b0b0;
	display: block;
}


@media only screen and (min-width: 768px) {
	.start	{
		position:fixed;
		right:100px;
		bottom:0px;
		z-index:1;
	}
}

.demo	{
	background-color: #ffffff;
    color: white;
    height: 27px;
    max-width: 101%;
	width:85%;
	margin-top:2px;
	font-size:18px;
	color:#000000;
}

.chat-box-heading	{
	font-weight:500;
	font-size:16px;
	text-align:left;
	margin:0px;
	padding:5px;
}
.chat-img	{
	z-index:1;
	margin-left:8px;
	transform: scale(1.5,1.5);
}

.button1
{
	height: 30px;
}

.chatBox	{
	height:30px;
	background-color:#194479;
}

.chat-cross	{
	position: absolute;
    right: 0px;
	margin: 5px;
}

.chat	{
	height:340px;
}
.chat-text-box	{
	height:30px;
	background-color:#194479;
	width:100%;
	margin:0px;
	padding:0px;
}

.chatbot-img	{
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:1;
}


footer	{
	padding-top:20px;
	height: 55px;
	background-color:#ffffff;
	font-family: Arial;
    font-size: 12px;
    font-weight: normal;
	color:#b0b0b0;
}

.logo	{
	width:130px;
    height:35px;
}
	
