/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic);*/


 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Thin.ttf) format("truetype"); 
 font-weight: 100; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-ThinItalic.ttf) format("truetype"); 
 font-weight: 100; 
 font-style: italic; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Light.ttf) format("truetype"); 
 font-weight: 300; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-LightItalic.ttf) format("truetype"); 
 font-weight: 300; 
 font-style: italic; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Regular.ttf) format("truetype"); 
 font-weight: 400; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Italic.ttf) format("truetype"); 
 font-weight: 400; 
 font-style: italic; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Medium.ttf) format("truetype"); 
 font-weight: 500; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-MediumItalic.ttf) format("truetype"); 
 font-weight: 500; 
 font-style: italic; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Bold.ttf) format("truetype"); 
 font-weight: 700; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-BoldItalic.ttf) format("truetype"); 
 font-weight: 700; 
 font-style: italic; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-Black.ttf) format("truetype"); 
 font-weight: 900; 
 font-style: normal; 
 } 
 @font-face { 
 font-family: "Roboto"; 
 src: url(/Style%20Library/Roboto/Roboto-BlackItalic.ttf) format("truetype"); 
 font-weight: 900; 
 font-style: italic; 
 } 
  /*added by anshul jain for font -matching*/
.ulminheight{
	font-size:16px;
	font-weight:300;
	line-height:1.8;
}
/*end*/

ul.contact li .box input.textfield,.industrydropdown, .referencedropdown, #CountryDrp, #Servicedrpdwn{
	/*width:95%!important;*/
	/*Added by Vinay*/
	width:80%!important;
	margin-left:4%;

}

ul.contact li .box .w80per {
    width: 112.5% !important;
}
body {
    overflow-x: hidden!important;
}

.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

#suiteBarButtons {
    right: 15px !important;
}




.box-reachusnew .ul2 {
    bottom: 40px;
    position: absolute;
    width: 80%;
}

    .box-reachus input[type="reset"]:hover, .box-reachus input[type="submit"]:hover {
        background-color: #424040 !important;
    }


.box-reachusnew .contact .box1{
 margin-top:8px;
 margin-bottom:8px;
}

.ie9 #sap-inner-solution li {
    margin:0 0 0 30px;
}







.whiteclr {
    color: #ffffff;
    margin-top: 1%;
}


.center {
    text-align: center;
    padding-bottom: 25px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent!important;
    margin-bottom: 0;
}
/*--- technologyfwd---*/

.Tabs {
    background-color: #DDDDDF!important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 1%;
}

    .Tabs ul li a {
        color: #000000!important;
        font-family: 'Roboto' !important;
        font-style: normal;
        font-weight: 600;
        width: 95%;
    }

    .Tabs ul li.active > a {
        background-color: #DDDDDF!important;
        color: #337ab7!important;
    }


    .Tabs ul li:last-child a {
        width: 100%;
    }






    .Tabs span.divider {
        display: inline-block;
        width: 0;
        height: 1em;
        border-right: 2px solid #000;
        position: absolute;
        right: 5px;
        top: 14px;
    }


/*.Tabs .active::after {
content: "";
position: absolute;
bottom: auto;
top: 37px;
left: auto;
right: 50px;	
border-width: 15px 15px 0;
border-style: solid;
border-color: #ffffff transparent;
display: block;
width: 0;
}*/


/*.Tabs .active:after {
    content: "";
    position: absolute;
    top: 26px;
    right: 82px;
    bottom: auto;
    left: auto;
    border-width: 0 15px 15px;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
}*/

.PgaeTitle {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 100;
    color: #535353!important;
    font-size: 36px;
    /*font-weight: 100!important;
    font-family: Roboto !important;
    font-size: 36px;
    margin-top: 0px!important;*/
}

/*#breadcrumbs {
   
    margin: 18px 0 0px 19px!important;
}*/

#technologyfwd, #De-Customization {
    background: #000 url(/PublishingImages/Parallax-Banner_Technology-Innovation_Black.jpg);
    /*height: 741px;*/
    height:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




    #technologyfwd .lead, #technologyfwd h2, #De-Customization h2 {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
    }

.technologyfwd-wrap {
    padding: 30px 20px;
    background: #fff;
    height: 310px;
    margin: 0 0 40px;
    padding-top: 15px;
}

    .technologyfwd-wrap h3 {
        font-size: 18px;
        margin: 4px 0;
        color: #3D5B91;
        text-align: center;
        font-weight: bold;
    }

    .technologyfwd-wrap p {
        color: #3D5BAC!important;
        text-align: center;
        font-style: normal!important;
        font-weight: 400!important;
    }

    .technologyfwd-wrap .pull-left {
        margin-right: 20px;
    }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paddingbtm22 {
    padding-bottom: 22px!important;
}

.paddingbtm44 {
    padding-bottom: 44px!important;
}

.paddingbtm66 {
    padding-bottom: 66px!important;
}

.paddingbtm46 {
    padding-bottom: 46px!important;
}

#LinesOfBuss,#cloud-Services {
    background: #F5F5F5;
}

.LinesOfBuss-wrap {
    padding: 30px 20px;
    background: #315786;
    margin: 0 0 40px;
    /*padding-top:15px;*/
    /*width:270px;*/
    height: 310px;
}

#oilngasservices .LinesOfBuss-wrap {    
    height: 400px !important;
}

.Sapcontent h3, .overview {
    color: #2C5487;
    font-weight: 500;
    font-family: roboto!important;
    font-style: normal;
    font-size: 26px;
}

.Sapcontent h5, .overview-subtitle {
    color: #615E5E;
    font-weight: bold;
    font-size: 14px!important;
    font-family: Roboto!important;
}

.Sapcontent p, .clouddescription p {
/*Added by anshul jain*/
    color:#3d2e11;
    /*end*/
    /*color: #080808;*/
    font-weight: 300;
    text-align: justify;
    line-height: 1.8;
    font-size: 16px !important;
}

#LinesOfBuss .lead, #LinesOfBuss h2, #industrysoln .lead, #industrysoln h2, .lead, #cloud-Services .lead, #cloud-Services h2 {
    color: #2C5485;
    font-size: 22px!important;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

#LinesOfBuss .media-heading, #cloud-Services .media-heading, .cloud-apps .media-heading{
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    /*padding:30px 0;*/
}
.cloud-content-wrap .media-heading  {
    font-size: 18px;
    margin: 10px 0;
    color: #000000;
    text-align: center;
    font-weight: bold;
    /*padding:30px 0;*/
}
.cloud-content-wrap .media-body p  {
    color: #000000;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-family: roboto;
    line-height: 1.6;
    font-size: 16px!important;
}

#LinesOfBuss .media-body p, .technologyfwd-wrap p, #cloud-Services .media-body p {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-family: roboto;
    font-size: 16px!important;
    line-height: 1.6;
}

.technologyfwd-wrap ul li  {
	color:#3D5B91;
    font-style: italic;
    font-weight: 400;
    font-size: 16px!important;
    line-height: 1.3;
}


#industrysoln, #SAPHealthCheck {
    background: #ffffff url(/PublishingImages/Parallax-Banner_Industry_transp.jpg);
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.industrysoln-wrap {
    /*  padding-top: 70px;
	    height:165px;*/
    background: #315786;
    margin: 0 0 40px;
    height: 200px!important;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


    .industrysoln-wrap .media-body .media-heading {
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

.headingpostion {
    position: relative;
    top: -22px;
}

.topx {
    top: -8px;
}

/*.thoughtldr-wrap .media-heading {
    text-transform: uppercase;
    color: #052764;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}*/

/*.thoughtldr-wrap {
    padding: 30px 20px;
    margin-bottom: 20px;
}*/

/*#thoughtldr {
    border-bottom: 3px solid #F8C650;
}*/

.form_content {
    color: #ffffff !important;
}

.well, #html5-elem-box, #html5-elem-wrap, #html5-elem-data-box {
    background-color: #535353!important;
    color: #ffffff!important;
    border: none;
    !important;
}

#html5lightbox-div h3 {
    color: #ffffff!important;
}

#html5-text {
    color: #ffca30!important;
}

#html5lightbox-div .btn-custom-bg {
    background-color: #ffca30!important;
    color: #000;
}

.btn-space {
    margin-right: 10px;
}




#content, #sidebar {
    /*min-height: 500px;*/
}

#row-main {
    overflow-x: hidden; /* necessary to hide collapsed sidebar */
}

.sidebaricon {
    top: 250px;
    z-index: 300;
}

#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

    #content .btn-group {
        margin-bottom: 10px;
    }

.col-md-9 .width-12,
.col-md-12 .width-9 {
    display: none; /* just hiding labels for demo purposes */
}


@media (min-width: 992px) {
    .collapsed {
        display: block;
        margin-right: -25%; /* same width as sidebar */
    }
}

@media (max-width: 992px) {
    .Tabs .active:after {
        display: none;
    }
}

/*.thoughtldr-wrap .span4 {
    margin-bottom: 15px;
}*/

#casestudies {
    background-color: #333333;
}

    #casestudies h2 {
        color: #fff !important;
        margin-top: 0px;
        padding-top: 25px;
        font-size: 17px !important;
    }

    #casestudies .media-heading {
        color: #888888 !important;
        font-size: 16px !important;
    }


.casestudies-wrap h3 {
    margin: 10px 0;
}

#casestudies p {
    color: #fff !important;
    margin-top: 0px;
    padding: 0px 30px 25px 30px;
}

.reachfr {
    float: right;
    padding: 1%;
}
/*written by Anshul Jain to show country dropdown in SAP ButtonFace*/
.ui-front {
    z-index: 50000000 !important;
}
/*end*/
/*writtne by Anshul and Shrikanty for rach us*/
.box-reachus {
    display: none;
    right: 0;
    overflow: hidden;
    background: #4e4e4e;
    width: 70%; /*Chnaged 70 from 100 - vinay*/
    margin-right:15%; /*Added by Vinay*/
    position: absolute;
    z-index: 5000000;
}
/* Add padding and border to inner content
    for better animation effect */
.box-inner-reachus {
    /*width: 400px;
    width: 100%;*/
    width:102%;/*Added by Vinay*/
    padding: 10px;
    border: 1px solid #4e4e4e;
}

.box-reachus a {
    color: #fff;
    font-size: 16pt;
    padding: 10px;
}

.box-reachus p {
    color: #fff;
    margin-left: 2%;
    margin-top: 6%;
    width: 90%;
    font-size: 14px!important;
}

.box-reachus #Txt_Number {
    width: 63% !important;
}

.box-reachus #Info {
    width: 90.5% !important;
}

.ThanksMsg h2 {
    color: white !important;
}

.box-reachus .box .redstar {
    /*padding: 2%;
    float: right;*/
    /*Added by Vinay*/
    padding-right: 12%;
    padding-top: 4%;
    color: #9BB6D7!important;   
    float: right;
}
.box-reachus .w97per .redstar{/*Added by Vinay*/
	padding-right: 6%;
    padding-top: 4%;    
    float: right;
}

/* end of reach us*/
/*inner page css*/
/*commented by priya*/
/*#sap-our-offering { margin-top: 20px; }*/

*/ #sap-our-offering h1, #sap-our-offering h2, #sap-our-offering h3, #sap-our-offering h4, #sap-our-offering h5, #sap-our-offering h6 {
    font-weight: 600;
    font-family: 'Roboto';
    color: #ffffff;
    text-transform: uppercase;
}

#sap-our-offering h3 {
    font-weight: bold;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 1.6em;
    padding-bottom: 3%;
    text-transform: uppercase;
}
/*added by anshul jain for font -matching*/
.ulminheight{
	font-size:16px;
	font-weight:300;
	line-height:1.8;
}
/*end*/
#sap-our-offering h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}


.list-styled {
    display: block;
    list-style-type: disc;
   /* -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;*/
	font-weight:300;
 line-height:1.8;
    margin: 0 0 0 30px;
    /*added by anshul jain*/
    /*font-size: 15px;*/
    /*end*/

}


#sap-our-offering .container-fluid {
    background: #194479;
    color: #ffffff;
}

.center {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#sap-our-offering .list-styled {
    margin-left: 10%;
}

    #sap-our-offering .list-styled li {
        font-style: italic;
        color: #E8EBF0;
        font-weight: 100;
        font-size: 1.3em;
            margin-left: 43px;
                margin-top: -14px;
    }

.spacer10 {
    height: 10px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer20 {
    height: 20px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer25 {
    height: 25px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

.spacer35 {
    height: 40px;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#sap-inner-solution .container {
    background: #ffffff;
    color: #194479;
}



#sap-inner-solution h3 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
}

#sap-inner-solution h2 {
    color: #194479;
    text-transform: uppercase;
}


#sap-inner-solution .sapinnerheading {
    background: #194479;
}

#sap-inner-solution .sapinnerbody {
    background: #E6E6E6;
}

#sap-inner-solution ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

    #sap-inner-solution ul.sapnested {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

        #sap-inner-solution ul.sapnested li {
            font-size: 1em;
        }

#sap-inner-solution li {
    color: #484848;
    font-size: 1.3em;
}

#sap-inner-solution .Title, .SuccessStorybg .Title, #SuccessStorybg .Title {
    margin-top: 3%;
    font-size: 1.8em;
    font-weight: 100;
    font-family: roboto light!important;
    margin-bottom: 3%;
}




.SuccessStorybg, #SuccessStorybg {
    background: url("/PublishingImages/Parallax-Banner_Success_Story.jpg") no-repeat;
    padding-bottom: 6%;
    border-top: 5px solid #FFDF56;
    border-bottom: 5px solid #FFDF56;
    background-size: cover;
}

    .SuccessStorybg p.sstory, #SuccessStorybg p.sstory {
        font-weight: 100;
        font-size: 1.6em!important;
        margin-left: 6%;
        margin-right: 41%;
        margin-bottom: 2%;
        line-height: 32px;
        color: #ffffff;
    }

    .SuccessStorybg p.sstory3, #SuccessStorybg p.sstory3 {
        font-weight: 100;
        font-size: 1.6em!important;
        margin-left: 6%;
        margin-bottom: 2%;
        line-height: 32px;
        color: #ffffff;
    }


    .SuccessStorybg .sstory_readmore, #SuccessStorybg .sstory_readmore {
        color: #ffffff;
        font-size: 1.3em;
        margin-left: 6%;
    }

    .SuccessStorybg a:hover, #SuccessStorybg a:hover, #casestudies a:hover {
        text-decoration: none;
        color: #F9C651;
    }



	
	/*---innovation css---*/

#De-Customization {
    padding-bottom: 50px;
}

.textinnovation h3 {
    margin-top: 5%;
}

#De-Customization .textinnovation h2 {
    margin-top: 0px;
}

#De-Customization p, #De-Customization h3 {
    color: #fff;
}

.mini-reachusicon {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2px;
    overflow: hidden;
    width: 41px;
    height: 41px;
    border: medium none;
    text-indent: -999px;
    z-index: 9000;
    background: #333333;
    border-radius: 20px;
}


/*By priya for breadcrum and Why lnt section*/
.SAPbreadcrumbs {
    margin-left: 0% !important;
}

ul#why {
    padding-top: 2%!important;
    padding-bottom: 0%!important;
}

section#sap-our-offering h2 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 3%;
}

div#SuccessStorybg {
    margin-left: 0%!important;
}

/*changes done by anshul jain date:16 may 2k16*/
#NextGenerationAMS,.bgwhiteimg {
    background: #fff url(/PublishingImages/Parallax-Banner_Technology-Innovation_Grey_V2.jpg);
    background-size: cover; 
   
    margin-top:2%;
}

 .bgwhiteimg .col-sm-offset-1 {

        margin:0 10px 30px 80px!important;
         }

.span4 {
    margin-top: 1px;
}

.section-color {
    color: #2C5487;
}

.section-color-white {
    color: #ffffff;
}


.section-heading {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 26px!important;
    text-transform: uppercase;
}

.box-height, .inds-box-height {
    height: 337.25px;
}

.in-sbox-height {
    height: 220px;
}

#serviceofferings {
    background-color: #315786;
    width: 45%!important;
    text-align: center;
    padding: 10px;
    margin-left: 0%;
}

.innerfixheight {
    height: 200px;
    width: 200px;
}

.contentinnerfixheight {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    height: 210px;
}

.greyBoxHt {
    height: 240px;
}

/*--square box css */
.squareresponsive {
    position: relative;
    width: 50%;
}

    .squareresponsive:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.squarecontent {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* written by asnhul jain for new reach us reqirement*/
.box-reachusnew {
    overflow: hidden;
    background: #4e4e4e;
    width: 100%;
   /* position: absolute;*/
    height:430px;
    /*z-index: 5000000;*/
}
/*end*/

.bannerslider {
    border-bottom: 3px solid #F8C650;
}

.techbox {
    height: 480px !important;
}

a.whtPaper {
    color: #888888;
    font-size: 16px !important;
}

.box1 input.txtName {
    border-bottom: 2px solid #ffffff;
    
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
   /* color: White !important;
   color: rgb(169, 169, 169) !important;*/
}

input[type="button"], input[type="reset"], input[type="submit"], button {
    background-color: #424040 !important;
    color: #ffffff!important;
    cursor: pointer!important;
    float: left!important;
    font-size: 15px!important;
    font-weight: 700!important;
    margin-top: 10px!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    border: 0!important;
    padding: 13px 15px!important;
}
input#stbbtn:hover 
{
	background:#ffffff !important;
	color:#424040!important;
}
/*added by priya for reach us form*/

section#sap-our-offering {
    margin-top: 2%;
}

/* done by anshul for reach us loading symbol*/
.box-inner-reachus .formloading{
	position:inherit !important
}

.bluehdrbox {background: #194479; color:#ffffff;padding: 10px;     padding-left: 0px; text-align:center;}
.bluehdrbox  span {
     font-weight: bold;
      color: #ffffff !important;
     font-size: 1.2em;
                text-transform:uppercase;
                text-decoration:none;
}

.bluehdrbox  span img {
    margin-right: 10px;
	margin-left:5px;
}
.bluehdrbox  span:{text-decoration:none; }

.bxlistcontent {    display: inline-block;}

.bxlistcontent .list-styled { margin-left: 0px!important;}

.bxlistcontent ul.list-styled  li{
    font-style: italic;
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 17px !important;
	width:30% !important;
	float: left !important;
	margin-right: 30px;

}

.bgwhite{

padding-bottom:3%;
}
/*.our-point-of-view-row{padding-bottom: 4%;}*/

.OfferingHome a{
    color: #ffffff !important;
    text-decoration: none !important;
}

.OfferingHome a:visited {
    color: #ffffff !important;
    text-decoration: none !important;
}
.OfferingHome a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.media.industrysoln-wrap.wow.fadeInDown .span4 img {  

	 margin-bottom: 5px;

}
.LOB-Offer {
    text-decoration: underline;
    font-size:17px;
        margin-bottom: 20px;
}
#rmspacer1
{
	margin-top:-22px !important;
}
#rmspacer2
{
	margin-top:-22px !important;
}
#rmspacer3
{
	margin-top:-22px !important;
}
#rmspacer4
{
	margin-top:-22px !important;
}#rmspacer5
{
	margin-top:-45px !important;
}
 input[value="Submit"]:hover,input[type="reset"]:hover{color:#FFCA30 !important}
 .liststylednone {list-style:none!important;}
 .innerpage-img {margin:0 auto!important;}
 .mbbxlistcontent ul.list-styled  li{
    font-style: italic;
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 18px !important;
	margin-right: 15px;
}
 .mgspace{margin-top: 30px!important; }
 .mbbxlistcontent .bluehdrbox {margin-bottom: 10px!important;}
 
  .mbbxlistcontent .bluehdrbox span img {display:inline-block!important;}
  
  .mbbxlistcontent .bluehdrbox span > span {   display: inline-block; width: 95px; }
  
  .mbbxlistcontent ul li.col-md-8 { 
	width: 70%;
    padding-right: 0px;
    margin-right: 0px;
	
	}
		

	
	
  .mbbxlistcontent ul { margin: 0!important;}
  
  
 /*Client speak section*/
 .first3video {
	float: left !important;
	padding: 10px !important;
}


/*.grayimglast {width: 303px height: 342px!important; background-color:rgba(158, 158, 158, 0.18);margin: 11px;}
.grayimg {width: 303px;height: 342px;background-color:white;margin: 11px;}*/

.html5boxVideoPlay{
	 border-radius: 52px;
}

.clientmaindes
{
	background-color:#2c5485;
    color: white;
    padding:19px;
	
}
.ClientName
{
	font-size: 27px;
    font-family: 'Roboto';
    display: inherit;

}
.ClientCompany
{
	font-size: 19px;
    font-family: 'Roboto';

}
 .clientspeakbred {
margin:18px 0 18px 20px !important;
padding-left: 1%;
}
h2.clintspeaktitle {
    margin-top: 8px !important;
    padding-left: 9px;
    font-size: 33px;
}

.clientspeakleft
{
	position:relative;
	width:100%;
}

.clientspeakleft .vidimg {width:100%}

.clientspeakright
{
	position:absolute;
	right:0;

}
.clientspeakright .box-reachusnew {height:435px!important;}

/*----our-point-of-view new html strucutre css----*/

.our-point-of-view-square.bluehdrbox{
	color:#C9D2DB;
    font-weight: 300;
    font-size: 17px;
    font-style: normal;
    font-family: Roboto;
	background: #34588A;
	padding: 10px; 
	
}

.minheight {min-height: 617px; }

/*.bgwhiteimg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/


.our-point-of-view-square li {
 margin:0 0 20px 0;   
}

 .ulseparate{     
    background: url('/PublishingImages/SAP%20icons/ulseprater.png') center center no-repeat;
    height: 34px;
    width: 100%
}
 
 
.our-point-of-view-square {
  
  border: 1px solid gray;
  overflow: hidden;
 /* padding-bottom: 100%;*/
  position: relative;
  text-align:left;
  
  > div {
    height: 100%;
    position: absolute;
    width: 100%;
    
    > div {
      display: table;
      height: 100%;
      width: 100%;
      
      > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
}
.our-point-of-view-row .section-color {
     color: #000;
}
.our-point-of-view-row .bgwhiteimg{margin-top:0;}

.our-point-of-view-row  .sptitle {
    font-size: 18px;
    text-transform: uppercase;
    color: #34588A;
    font-weight: 400;
    margin-right: 50px;
}

.our-point-of-view-row  .mptitle {
    margin-right: 0;
   font-size: 22px;
}

.inlineblock{display:inline-block; }

#energy-row{margin-top:10px;}
/*--- set hight of .our-point-of-view-square.bluehdrbox--*/
#SAPCPG .our-point-of-view-square.bluehdrbox {min-height:708px;}
#Industries_PEIM .our-point-of-view-square.bluehdrbox {min-height: 620px;}
#Industries_Utility .our-point-of-view-square.bluehdrbox {min-height:592px;}
#Industries_Hi-Tech .our-point-of-view-square.bluehdrbox {min-height:528px;}
#Industries_Automotive .our-point-of-view-square.bluehdrbox {min-height:596px;}
#Industries_Aerospace .our-point-of-view-square.bluehdrbox {min-height: 524px;}
#Industries_EandC .our-point-of-view-square.bluehdrbox {min-height: 552px;}
#Indutries_LifeSciences .our-point-of-view-square.bluehdrbox {min-height: 660px;}
#Indutries-energy .our-point-of-view-square.bluehdrbox  {min-height:534px;}

/*----end---*/


.solution-cloudcard-app {
	    margin:0 auto;
	     width: 75%;
    display: table;
	  
}


 
#testing-app-technology-innnovation {background: #ffffff url(/PublishingImages/Testing_Services02_Bg.png); height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:4rem;
        padding-bottom: 5rem;
 
}

 
#about-ttot-services {background: #ffffff url(/PublishingImages/BG%20IMage.png) no-repeat; height: auto;
   /* background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
    padding-bottom: 5rem;*/
      background-position: right bottom;
    display:inline-block;
        margin-bottom: -10px;
        min-height: 955px;
    }

#about-of-services {background: #ffffff url(/PublishingImages/offerings_bg.jpg) no-repeat; height: auto;
   /* background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
    padding-bottom: 5rem;*/
      background-position: right top;
    display:inline-block;
        margin-bottom: -10px;
        min-height: 600px;
        background-size: cover;
    }




.col-md-2-5{width:20%;}
.cloud-testing .right-border{height: 110px; margin-top:10px;}
#testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}
.content-middle {margin:0 auto;float: none;}

.cloud-testing .section-heading, .cloud-IIOT .section-heading {margin-top:2rem; display:block;}
 /*.col-md-2-5 .media-body p {font-size: 15px!important;font-weight: 300;}*/

 
 .Cloudcontent .header {
    
    line-height: 60px;
    text-align: left;
    margin-left: 1%;
    width: 100%;
/*    font-family: 'Roboto' !important;*/
    font-style: normal;
    font-weight: 100!important;
    color: #535353!important;
    font-size: 36px;
}

 .cloudappsmiddle {
    width: 80%;
    margin: 0 auto;
}

 
/*------media queries for mobile view---------*/
  /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        div#WebPartWPQ1 {
			height:auto!important;
		}
        .cloud-our-point-of-view .our-point-of-view-square.bluehdrbox {height:814px;}
        
        .collaspe-bt {padding-left:5px!important;}
        .collaspe-bt h4 {font-size:smaller;}
		
		.col-md-2-5 {width:auto;}
		
		.cloud-testing .right-border,#testing-app-technology-innnovation .right-border, .technology-enablers .right-border  { border:none;}
		
		.heading2 {top:35%!important;}
		.amazingcarousel-nav {
          top: 85% !important;
        }
		.container-fluid {
          padding-right: 0!important;
          padding-left: 0!important; 
		}
		#row-main {
		    overflow: hidden!important;
		}
		#serviceofferings {width:100%!important;font-size: 16px!important; }
		.OfferingHome { margin-top: 16px!important;
		}
		.box-height, .inds-box-height {
            height: 320px!important; 
        }
		.section-heading, .cloud-IIOT .section-color h3 {font-size: 18px!important;}
		#SAPHOME #technologyfwd, #SAPHOME#De-Customization, #SAPHOME  #industrysoln, #SAPHOME #SAPHealthCheck,#SAPCPG #technologyfwd, #SAPCPG #De-Customization { height:auto!important; }
		/*.thoughtldr-wrap {padding:0!important; }*/
		.in-sbox-height { height: 210px; }
		.center {padding-bottom:8px!important; padding-top:8px!important;}
		 /* #quicklinks{display:none;}*/
		  .mbbxlistcontent .bluehdrbox .liststylednone {  margin: 0!important;}
		  .mbbxlistcontent .bluehdrbox span img {width:20%!important;}
		  .mbbxlistcontent ul.list-styled li.col-md-3{font-size: 11px!important;width: 90px!important;padding: 0px;margin-right: 22px;}
		  .bluehdrbox span {font-size: 12px!important;width: 48px!important;}
		  
		  .mbbxlistcontent ul li.col-md-8 { 
			width: 61%;
			padding-right: 0px;
			margin-right: 0px;
			    font-size: 11px!important;
			font-weight: 600!important;
			padding-left: 0px!important;
			
		  }
	
	      #toTop{display:none!important;}
		#AssurenceServices .contentinnerfixheight,#AssurenceServices .innerfixheight,#LOB_FINANCE .innerfixheight,#cloud-content-wrapper .innerfixheight,#cloud-content-wrapper .contentinnerfixheight, #LOB_FINANCE .contentinnerfixheight ,#LOB_SUPPLYCHAIN .innerfixheight, #LOB_SUPPLYCHAIN .contentinnerfixheight,#LOB_LOGISTICS .innerfixheight, #LOB_LOGISTICS .contentinnerfixheight,#LOB_DIGITALMFG .innerfixheight, #LOB_DIGITALMFG .contentinnerfixheight,#LOB_ASSETMGMT .innerfixheight, #LOB_ASSETMGMT .contentinnerfixheight,#LOB_SERVICEMGMT .innerfixheight, #LOB_SERVICEMGMT .contentinnerfixheight, #Industries_PEIM .innerfixheight,#Industries_PEIM .contentinnerfixheight, #Indutries-energy .innerfixheight,#Indutries-energy .contentinnerfixheight,#Industries_Utility .contentinnerfixheight,#Industries_Utility .innerfixheight,#Industries_Hi-Tech .contentinnerfixheight,#Industries_Hi-Tech .innerfixheight,#Industries_Automotive .contentinnerfixheight,#Industries_Automotive .innerfixheight,#Industries_Aerospace .contentinnerfixheight,#Industries_Aerospace .innerfixheight,#Industries_EandC .contentinnerfixheight,#Industries_EandC .innerfixheight,#Indutries_LifeSciences .contentinnerfixheight,#Indutries_LifeSciences .innerfixheight,#SAPCPG .contentinnerfixheight,#SAPCPG .innerfixheight  {width:auto!important; height:auto!important;}
		  #LOB_FINANCE .Sapcontent h3, .overview, #LOB_SUPPLYCHAIN .Sapcontent h3 ,#LOB_LOGISTICS .Sapcontent h3 ,#LOB_DIGITALMFG .Sapcontent h3 ,#LOB_ASSETMGMT .Sapcontent h3 ,#LOB_SERVICEMGMT .Sapcontent h3 {    font-size: 20px!important;font-weight: 600!important; word-break: break-all;}
		  #LOB_FINANCE .SuccessStorybg p, #SuccessStorybg p,#LOB_SUPPLYCHAIN .SuccessStorybg p ,#LOB_LOGISTICS .SuccessStorybg p ,#LOB_DIGITALMFG .SuccessStorybg p ,#LOB_ASSETMGMT .SuccessStorybg p ,#LOB_SERVICEMGMT .SuccessStorybg p ,#Industries_PEIM .SuccessStorybg p, #Indutries-energy .SuccessStorybg p,#Industries_Utility .SuccessStorybg p,#Industries_Hi-Tech .SuccessStorybg p,#Industries_Automotive .SuccessStorybg p,#Industries_Aerospace .SuccessStorybg p,#Industries_EandC .SuccessStorybg p,#Indutries_LifeSciences .SuccessStorybg p,#SAPCPG .SuccessStorybg p  {font-size: 1.1em!important; margin-right: 0!important;}
		  .SuccessStorybg p.sstory3, #SuccessStorybg p.sstory3 ,#LOB_FINANCE  .SuccessStorybg .sstory_readmore, #SuccessStorybg .sstory_readmore,#LOB_SUPPLYCHAIN  .SuccessStorybg .sstory_readmore ,#LOB_LOGISTICS  .SuccessStorybg .sstory_readmore,#LOB_DIGITALMFG  .SuccessStorybg .sstory_readmore,#LOB_ASSETMGMT  .SuccessStorybg .sstory_readmore,#LOB_SERVICEMGMT  .SuccessStorybg .sstory_readmore,#Industries_PEIM .SuccessStorybg .sstory_readmore, #Indutries-energy .SuccessStorybg .sstory_readmore,#Industries_Utility .SuccessStorybg .sstory_readmore,#Industries_Hi-Tech .SuccessStorybg .sstory_readmore,#Industries_Automotive .SuccessStorybg .sstory_readmore,#Industries_Aerospace .SuccessStorybg .sstory_readmore,#Industries_EandC .SuccessStorybg .sstory_readmore,#Indutries_LifeSciences .SuccessStorybg .sstory_readmore,#SAPCPG .SuccessStorybg .sstory_readmore  {font-size: 1.1em!important;}
		  #LOB_FINANCE  .greyBoxHt,#cloud-content-wrapper .greyBoxHt, #LOB_SUPPLYCHAIN  .greyBoxHt,#LOB_LOGISTICS  .greyBoxHt,#LOB_DIGITALMFG  .greyBoxHt,#LOB_ASSETMGMT  .greyBoxHt,#LOB_SERVICEMGMT  .greyBoxHt, #Industries_PEIM .greyBoxHt,#Indutries-energy .greyBoxHt,#Industries_Utility .greyBoxHt,#Industries_Hi-Tech .greyBoxHt,#Industries_Automotive .greyBoxHt,#Industries_Aerospace .greyBoxHt,#Industries_EandC .greyBoxHt,#Indutries_LifeSciences .greyBoxHt,#SAPCPG  .greyBoxHt,{height:auto!important; width:100%;}
		  #LOB_FINANCE  .spacer35 , #LOB_SUPPLYCHAIN  .spacer35,#LOB_LOGISTICS  .spacer35 ,#LOB_DIGITALMFG  .spacer35 ,#LOB_ASSETMGMT  .spacer35 ,#LOB_SERVICEMGMT  .spacer35,.spacer35  { height: 10px!important;}
		  #sap-inner-solution h3 {font-size: 16px;}
	      #LOB_SERVICEMGMT .Sapcontent h3 {font-size: 18px!important;font-weight: 700!important;word-break: break-all;}
          #LOB_SUPPLYCHAIN .Sapcontent h3, #SAP_IOT .overview, #SAP_CLOUD  .overview,#SAP_S4HANA  .overview,#SAP_HYBRIS  .overview,#SAP_HYBRIS  .overview{word-break: break-word;}	
          #SAP_USABILITYANDMOBILITY	.overview {font-size: 18px!important;}	
		  .techbox { height: auto !important;}
		  .SuccessStory .spacer35 {height:0px!important;}
		  #sap-inner-solution .spacer35:last-of-type {display:none;}
		  .grayimg {display:none;}
		   .our-point-of-view-row  .bgwhiteimg .col-sm-offset-1,.our-point-of-view-row .col-md-3{margin: 0px 0px 10px 0px !important;  }
		  /* .our-point-of-view-row  .list-styled {margin: 0 0 0 0px;}*/
		   .our-point-of-view-square.minheight {min-height: 500px;}
		   .inlineblock {
			display: inline-block;
			margin-right: 0!important;
			width: 30%;
		   }
		   
		   .our-point-of-view-row span.inlineblock:nth-child(3) {
              width: 26%;
           }
		  .cloudcard {margin-right: 0px!important;}
		  .Cloudcontent .header {font-size: 24px;line-height: 40px;}
		   
		  .arrow-navigation-flow span h3 {   margin: 0; font-size: 13px;}
		  
	}
	
	
	
#industrysoln, #SAPHealthCheck {
    padding-bottom: 50px;
    height: auto !important;
}
    

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
         .OfferingHome {
                margin-top: 10px!important;
          }
		  #serviceofferings {width:100%!important;font-size: 22px!important; text-align: left; }

		 /* #quicklinks{display:none;}*/
		
         #toTop{display:none!important;}
		 .grayimg {display:none!important;}
		 .first3video {margin-left: 0%; width: 33%!important; }
		 .cloudcard {margin-right: 0px!important;}
    }
	
	
	@media (min-width: 401px) and (max-width: 741px) {


	
	   #SAPHOME  .box-height{ 
		    width: 50%;
			float:left!important;
           height: 300px!important;
           
		}
		
		.inds-box-height { width: 65%; margin:0 auto;}
		
		
		 #SAPHOME .LinesOfBuss-wrap, #SAPHOME .technologyfwd-wrap { height: 290px!important; }
		 
         
		 
         #SAPHOME   #LinesOfBuss .media-body p {font-size:14px!important;}
		  #SAPHOME  .in-sbox-height {
		     width: 40%;
			height: 240px;
			float: left;
	       }
		   
		   #SAPHOME  .industrysoln-wrap {
		    height: 230px!important;
	       }

          #SAPHOME  #industrysoln  .row div:nth-child(odd){margin-left:12%!important;}
		     .Tabs ul li a {    width: 100%!important;}
		 #quicklinks{/*display:none;*/}
	    .mbbxlistcontent ul li.col-md-8 { width: 60%; }
	    .mbbxlistcontent ul.list-styled li {font-weight: 500 !important; font-size: 17px !important;}
		.mbbxlistcontent ul.list-styled  li{
			font-style: italic;
			color: #000000 !important;
			font-weight: 400 !important;
			font-size: 18px !important;
			margin-right: 15px;
		}
 
		   .mbbxlistcontent .bluehdrbox {margin-bottom: 10px!important;}
		 
		  .mbbxlistcontent .bluehdrbox span img {display:inline-block!important;}
		  
		  .mbbxlistcontent .bluehdrbox span > span {   display: inline-block; width: 95px; }
		  
		  .mbbxlistcontent ul li.col-md-8 { 
			width: 69%;
			padding-right: 0px;
			margin-right: 0px;
			font-size: 16px!important;
            font-weight: 500!important;
			
			}
			
		 .mbbxlistcontent .bluehdrbox span img { width: 20%!important;}
		 .mbbxlistcontent ul.list-styled li.col-md-3{font-size: 16px!important; font-weight: 500!important; width: 24%!important;padding: 0px;margin-right: 22px;}
		 .bluehdrbox span {font-size: 15px!important;
    width: 56px!important;}
		  
		  #toTop{display:none!important;}
		  #LOB_FINANCE .Sapcontent h3, .overview, #LOB_SUPPLYCHAIN .Sapcontent h3 ,#LOB_LOGISTICS .Sapcontent h3 ,#LOB_DIGITALMFG .Sapcontent h3 ,#LOB_ASSETMGMT .Sapcontent h3 ,#LOB_SERVICEMGMT .Sapcontent h3 {    font-size: 24px!important;font-weight: 500!important; }
		  .SuccessStorybg p.sstory3, #SuccessStorybg p.sstory3,#LOB_FINANCE .SuccessStorybg p.sstory, #SuccessStorybg p,#LOB_SUPPLYCHAIN .SuccessStorybg p ,#LOB_LOGISTICS .SuccessStorybg p ,#LOB_DIGITALMFG .SuccessStorybg p ,#LOB_ASSETMGMT .SuccessStorybg p ,#LOB_SERVICEMGMT .SuccessStorybg p,#Industries_PEIM .SuccessStorybg p, #Indutries-energy .SuccessStorybg p,#Industries_Utility .SuccessStorybg p,#Industries_Hi-Tech .SuccessStorybg p,#Industries_Automotive .SuccessStorybg p,#Industries_Aerospace .SuccessStorybg p,#Industries_EandC .SuccessStorybg p,#Indutries_LifeSciences .SuccessStorybg p,#SAPCPG .SuccessStorybg p   {font-size: 1.4em!important;}
		  #LOB_FINANCE  .SuccessStorybg .sstory_readmore, #SuccessStorybg .sstory_readmore,#LOB_SUPPLYCHAIN  .SuccessStorybg .sstory_readmore ,#LOB_LOGISTICS  .SuccessStorybg .sstory_readmore,#LOB_DIGITALMFG  .SuccessStorybg .sstory_readmore,#LOB_ASSETMGMT  .SuccessStorybg .sstory_readmore,#LOB_SERVICEMGMT  .SuccessStorybg .sstory_readmore,#Industries_PEIM .SuccessStorybg .sstory_readmore, #Indutries-energy .SuccessStorybg .sstory_readmore,#Industries_Utility .SuccessStorybg .sstory_readmore,#Industries_Hi-Tech .SuccessStorybg .sstory_readmore,#Industries_Automotive .SuccessStorybg .sstory_readmore,#Industries_Aerospace .SuccessStorybg .sstory_readmore,#Industries_EandC .SuccessStorybg .sstory_readmore,#Indutries_LifeSciences .SuccessStorybg .sstory_readmore,#SAPCPG .SuccessStorybg .sstory_readmore{font-size: 1.4em!important;}
	      #sap-inner-solution h3 {font-size: 18px;}
		  #SAP_USABILITYANDMOBILITY	.overview {font-size: 26px!important;}
           .grayimg {display:none;}
			.grayimglast {} 
			.first3video   {width: 50%!important;  margin-left: 0%;}
			  		  
	
	}
	
	
   
 /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
       #serviceofferings {font-size: 26px!important;}
	   .Tabs .nav-justified > { width: 12%!important;}
	   .Tabs ul li a {    width: 100%!important;font-size: 11px;
    font-weight: 900;}
	   .heading2 {
           top: 40%!important;
           }
		.OfferingHome {
            margin-top: 12px!important;
          }
		  
		  #serviceofferings {width:100%!important;font-size: 22px!important;text-align: left;}
		  /*#quicklinks{display:none;}*/
		  .mbbxlistcontent ul.list-styled  li{
			font-style: italic;
			color: #000000 !important;
			font-weight: 400 !important;
			font-size: 18px !important;
			margin-right: 15px;
		}
 
		   .mbbxlistcontent .bluehdrbox {margin-bottom: 10px!important;}
		 
		  .mbbxlistcontent .bluehdrbox span img {display:inline-block!important;}
		  
		  .mbbxlistcontent .bluehdrbox span > span {   display: inline-block; width: 95px; }
		  
		  .mbbxlistcontent ul li.col-md-8 { 
			width: 73%;
			padding-right: 0px;
			margin-right: 0px;
			
			}
			 .mbbxlistcontent .bluehdrbox span img {width: 25%!important;}
		 .mbbxlistcontent ul.list-styled li.col-md-3{font-size: 18px!important;width: 23%!important;padding: 0px;margin-right: 25px;}
		 .bluehdrbox span {font-size: 18px!important;width: auto!important;}
		  #SAPCPG #sap-inner-solution .sapinnerheading {margin-left: 4%;}
		  #toTop{display:none!important;}
		  
		  
		  #LOB_FINANCE .Sapcontent h3, .overview, #LOB_SUPPLYCHAIN .Sapcontent h3 ,#LOB_LOGISTICS .Sapcontent h3 ,#LOB_DIGITALMFG .Sapcontent h3 ,#LOB_ASSETMGMT .Sapcontent h3 ,#LOB_SERVICEMGMT .Sapcontent h3  {    font-size: 26px!important;font-weight: 500!important; }
		 .SuccessStorybg p.sstory3, #SuccessStorybg p.sstory3, #LOB_FINANCE .SuccessStorybg p.sstory, #SuccessStorybg p.sstory,#LOB_SUPPLYCHAIN .SuccessStorybg p ,#LOB_LOGISTICS .SuccessStorybg p ,#LOB_DIGITALMFG .SuccessStorybg p ,#LOB_ASSETMGMT .SuccessStorybg p ,#LOB_SERVICEMGMT .SuccessStorybg p,#Industries_PEIM .SuccessStorybg p, #Indutries-energy .SuccessStorybg p,#Industries_Utility .SuccessStorybg p,#Industries_Hi-Tech .SuccessStorybg p,#Industries_Automotive .SuccessStorybg p,#Industries_Aerospace .SuccessStorybg p,#Industries_EandC .SuccessStorybg p,#Indutries_LifeSciences .SuccessStorybg p,#SAPCPG .SuccessStorybg p   {font-size: 1.4em!important;}
		  #LOB_FINANCE  .SuccessStorybg .sstory_readmore, #SuccessStorybg .sstory_readmore,#LOB_SUPPLYCHAIN  .SuccessStorybg .sstory_readmore ,#LOB_LOGISTICS  .SuccessStorybg .sstory_readmore,#LOB_DIGITALMFG  .SuccessStorybg .sstory_readmore,#LOB_ASSETMGMT  .SuccessStorybg .sstory_readmore,#LOB_SERVICEMGMT  .SuccessStorybg .sstory_readmore,#Industries_PEIM .SuccessStorybg .sstory_readmore, #Indutries-energy .SuccessStorybg .sstory_readmore,#Industries_Utility .SuccessStorybg .sstory_readmore,#Industries_Hi-Tech .SuccessStorybg .sstory_readmore,#Industries_Automotive .SuccessStorybg .sstory_readmore,#Industries_Aerospace .SuccessStorybg .sstory_readmore,#Industries_EandC .SuccessStorybg .sstory_readmore,#Indutries_LifeSciences .SuccessStorybg .sstory_readmore,#SAPCPG .SuccessStorybg .sstory_readmore {font-size: 1.4em!important;}
		  
		  
		  #LOB_FINANCE  .greyBoxHt,#LOB_LOGISTICS  .greyBoxHt,#LOB_DIGITALMFG  .greyBoxHt,#LOB_ASSETMGMT  .greyBoxHt,#LOB_SERVICEMGMT  .greyBoxHt,#Industries_PEIM .greyBoxHt,#Indutries-energy .greyBoxHt,#Industries_Utility .greyBoxHt,#Industries_Hi-Tech .greyBoxHt,#Industries_Automotive .greyBoxHt,#Industries_Aerospace .greyBoxHt,#Industries_EandC .greyBoxHt,#Indutries_LifeSciences .greyBoxHt,#SAPCPG .greyBoxHt    { height: 270px!important;width: 66.66666667%!important;}
		  #LOB_FINANCE .innerfixheight, #LOB_SUPPLYCHAIN .innerfixheight,#LOB_LOGISTICS .innerfixheight,#LOB_DIGITALMFG .innerfixheight,#LOB_ASSETMGMT .innerfixheight,#LOB_SERVICEMGMT .innerfixheight,#Industries_PEIM .innerfixheight,#Indutries-energy .innerfixheight,#Industries_Utility .innerfixheight,#Industries_Hi-Tech .innerfixheight,#Industries_Automotive .innerfixheight,#Industries_Aerospace .innerfixheight,#Industries_EandC .innerfixheight,#Indutries_LifeSciences .innerfixheight , #SAPCPG  .innerfixheight {height: 200px!important;width: 200px!important;    margin-left: 3%;}
		  #LOB_FINANCE .contentinnerfixheight , #LOB_SUPPLYCHAIN .contentinnerfixheight,#LOB_LOGISTICS .contentinnerfixheight,#LOB_DIGITALMFG .contentinnerfixheight,#LOB_ASSETMGMT .contentinnerfixheight,#LOB_SERVICEMGMT .contentinnerfixheight,#Industries_PEIM .contentinnerfixheight,#Indutries-energy .contentinnerfixheight,#Industries_Utility .contentinnerfixheight,#Industries_Hi-Tech .contentinnerfixheight,#Industries_Automotive .contentinnerfixheight,#Industries_Aerospace .contentinnerfixheight,#Industries_EandC .contentinnerfixheight,#Indutries_LifeSciences .contentinnerfixheight, #SAPCPG  .contentinnerfixheight {width: 100%;height: 210px!important;}
		#cloud-content-wrapper .greyBoxHt{ height: auto!important;width: 66.66666667%!important;}
				  #cloud-content-wrapper .innerfixheight{height: auto!important;width: 200px!important;    margin-left: 3%;}	
				  #cloud-content-wrapper .contentinnerfixheight  {width: 100%;height: 210px!important;}

			  #LOB_FINANCE .spacer35 , #LOB_SUPPLYCHAIN .spacer35 , #LOB_LOGISTICS .spacer35,#LOB_DIGITALMFG .spacer35,#LOB_ASSETMGMT .spacer35,#LOB_SERVICEMGMT .spacer35,.spacer35{height: 20px!important;}
		  #LOB_FINANCE .spacer25 , #LOB_SUPPLYCHAIN .spacer25 , #LOB_LOGISTICS .spacer25,#LOB_DIGITALMFG .spacer25,#LOB_ASSETMGMT .spacer25,#LOB_SERVICEMGMT .spacer25 {height: 20px!important;}
	      #LOB_SUPPLYCHAIN .greyBoxHt { height: 300px!important;width: 66.66666667%!important;}
		   .SuccessStory .spacer35 {height:8px;}
  		   #sap-inner-solution h3 {font-size: 18px;}
		   #SAP_USABILITYANDMOBILITY	.overview {font-size: 26px!important;}

			.inds-box-height {
				       width: 45%;
   
					padding-right: 0px;
					margin-right: 0px;
			}
         .inds-box-height:nth-child(1), .inds-box-height:nth-child(3){margin-left:4%;}
		 
		 #Industries_Automotive .greyBoxHt {height:325px !important;}
		 #Industries_Utility .greyBoxHt {    height: 345px!important;}
		  .grayimg { display: none!important;}
		  .grayimglast {display: block;} 
		
			 .clientmaindes {padding:16px;} 
			 
         .ipadsalesforcetop {top:14px!important;}
		 .cloudcard {margin-right: 2.5rem!important; display: inline-block!important;}	
		 .solution-cloudcard-app {width:90%!important;}

		
	}
	
 @media only screen and (min-width: 992px){
	.our-point-of-view-row .col-md-3 {
		width: 30%;
		
	}
	.our-point-of-view-row  .bgwhiteimg   .col-sm-offset-1 {
			
			margin:0px 0px 0px 60px !important
	  }
		 
	  

}
	
	

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px)  and (max-width : 1024px){
		 #SAPHOME .box-height,i .nds-box-height {width:33%!important;}
		
	    .box-height.col-md-offset-3, .inds-box-height.col-md-offset-3{ margin-left:0!important;}
		
		.in-sbox-height.col-md-offset-4 {margin-left:0!important;}
		
		 #SAPHOME .in-sbox-height {
			height: 210px;
			width: 20%;
			padding-right: 5px;
             padding-left: 5px;
		}
		.Tabs ul li a {  width: 95%!important; font-size: 11px;padding: 10px; font-weight: 900;}
		.heading2 { top: 45%!important; }
		 .OfferingHome {
             margin-top: 5px!important;
          }
          #quicklinks{display:block!important;}	
		  .mbbxlistcontent ul { margin: 0 0 0 30px!important;}
		  .mbbxlistcontent ul.list-styled  li{
			font-style: italic;
			color: #000000 !important;
			font-weight: 400 !important;
			font-size: 18px !important;
			margin-right: 15px;
			
		}
 
		   .mbbxlistcontent .bluehdrbox {margin-bottom: 10px!important;}
		 
		  .mbbxlistcontent .bluehdrbox span img {display:inline-block!important; width:auto!important;}
		  
		  .mbbxlistcontent .bluehdrbox span > span {   display: inline-block; font-size: 18px!important; }
		  
		  .mbbxlistcontent ul li.col-md-8 { 
			width: 75%;
			padding-right: 0px;
			margin-right: 0px;
			
			}
			 .mbbxlistcontent .bluehdrbox span img {width: 30%!important;!important;}
		 .mbbxlistcontent ul.list-styled li.col-md-3{font-size: 18px!important;width: 20%!important;padding: 0px;margin-right: 22px;}
		 .bluehdrbox span {font-size: 18px!important;width: auto!important;}
			  #SAPCPG #sap-inner-solution .sapinnerheading {margin-left: 6%;}
			  #toTop{display:none!important;}
			  
			  #LOB_FINANCE .Sapcontent h3, .overview, #LOB_SUPPLYCHAIN .Sapcontent h3 ,#LOB_LOGISTICS .Sapcontent h3 ,#LOB_DIGITALMFG .Sapcontent h3 ,#LOB_ASSETMGMT .Sapcontent h3 ,#LOB_SERVICEMGMT .Sapcontent h3   {    font-size: 26px!important;font-weight: 500!important; }
			  
			  #LOB_FINANCE  .greyBoxHt,#LOB_LOGISTICS  .greyBoxHt,#LOB_DIGITALMFG  .greyBoxHt,#LOB_ASSETMGMT  .greyBoxHt,#LOB_SERVICEMGMT  .greyBoxHt,#Industries_PEIM .greyBoxHt,#Indutries-energy .greyBoxHt,#Industries_Utility .greyBoxHt,#Industries_Hi-Tech .greyBoxHt,#Industries_Automotive .greyBoxHt,#Industries_Aerospace .greyBoxHt,#Industries_EandC .greyBoxHt,#Indutries_LifeSciences .greyBoxHt ,#SAPCPG  .greyBoxHt   { height: 240px!important;width: 66.66666667%!important;}
			  #LOB_FINANCE .innerfixheight, #LOB_SUPPLYCHAIN .innerfixheight,#LOB_LOGISTICS .innerfixheight,#LOB_DIGITALMFG .innerfixheight,#LOB_ASSETMGMT .innerfixheight,#LOB_SERVICEMGMT .innerfixheight,#Industries_PEIM .innerfixheight,#Indutries-energy .innerfixheight,#Industries_Utility .innerfixheight,#Industries_Hi-Tech .innerfixheight,#Industries_Automotive .innerfixheight,#Industries_Aerospace .innerfixheight,#Industries_EandC .innerfixheight,#Indutries_LifeSciences .innerfixheight,#SAPCPG  .innerfixheight{height: 200px!important;width: 200px!important;     margin-left: 6%;}
			  #LOB_FINANCE .contentinnerfixheight , #LOB_SUPPLYCHAIN .contentinnerfixheight,#LOB_LOGISTICS .contentinnerfixheight,#LOB_DIGITALMFG .contentinnerfixheight,#LOB_ASSETMGMT .contentinnerfixheight,#LOB_SERVICEMGMT .contentinnerfixheight,#Industries_PEIM .contentinnerfixheight,#Indutries-energy .contentinnerfixheight,#Industries_Utility .contentinnerfixheight,#Industries_Hi-Tech .contentinnerfixheight,#Industries_Automotive .contentinnerfixheight,#Industries_Aerospace .contentinnerfixheight,#Industries_EandC .contentinnerfixheight,#Indutries_LifeSciences .contentinnerfixheight, #SAPCPG .contentinnerfixheight{width: 100%;height: 210px!important;}
			  
			  
			  #LOB_FINANCE .spacer35 , #LOB_SUPPLYCHAIN .spacer35 , #LOB_LOGISTICS .spacer35,#LOB_DIGITALMFG .spacer35,#LOB_ASSETMGMT .spacer35,#LOB_SERVICEMGMT .spacer35, .spacer35 {height: 35px!important;}
			  
			 
			   #LOB_SUPPLYCHAIN .greyBoxHt:nth-child(2) { height: 290px!important;width: 66.66666667%!important;}
			   #sap-inner-solution h3 {font-size: 18px;}
			   #SAP_USABILITYANDMOBILITY	.overview {font-size: 26px!important;}	
			  .SuccessStory .spacer35 {height:35px;}		
			  #sap-inner-solution .spacer35:last-of-type {display:block ;}
			  .inds-box-height {
				        width: 32%;
						margin-left: 1%!important;
						padding: 5px
			}	
			  .inds-box-height:nth-child(4) { margin-left: 34%; }
			  #Industries_Utility .greyBoxHt{height: 300px!important;}
			  
			.grayimg {display: block!important;}
			
			.grayimglast {/*width: 230px!important; height: 273px!important;margin: 0;*/}
			.ClientName { font-size: 24px; }
			
			
			  
    }
	
	@media only screen and (max-width : 768px)  and (orientation : portrait) {
		
		 .first3video {width: 33%!important;  margin-left: 0%;}
		 .ClientName { font-size: 22px; }
		 #Indutries-energy #energy-row .our-point-of-view-square.firstsquare {padding-bottom: 34px; }
		 .cloudcard:last-child {margin-right: 0px!important;}
		 

	}
	@media only screen and (max-width : 1024px) and (min-width : 768px)  and (orientation : landscape) {
		
		 .first3video {width: 25%!important;  margin-left: 0%;}
		 .ClientName { font-size: 22px; }
		 .grayimg { display: block! important;}
		 .clientspeakright .box-reachusnew {height: 363px!important;}
		 #cloud-Services .LinesOfBuss-wrap {    padding: 10px 20px;}
		 
		 .box-reachusnew .ul2 { bottom: 8px;}
				 .our-point-of-view-row .col-md-3 {
				width: 33%;
			}


			.our-point-of-view-row .bgwhiteimg .col-sm-offset-1 {
			  margin: 0px 0px 0px 5px !important;
			}
		  .our-point-of-view-square.bluehdrbox {
			 font-weight: 300;
			font-size: 16px;
			padding: 6px;
		  }

		   .our-point-of-view-square.minheight {
				min-height: 617px;
			}
		
		   #Indutries-energy #energy-row .our-point-of-view-square.thirdsquare{padding-bottom: 28px!important;}
		    #Indutries-energy #energy-row .our-point-of-view-square.firstsquare{padding-bottom: 6px!important;}
			.inlineblock{display:inline-block; width: 15%;}
			.our-point-of-view-row span.inlineblock:nth-child(3) {width: 15%;}
			
		 .ipadsalesforcetop {top:0px!important;}
		 .cloudcard {margin-right: 2.5rem!important; display: inline-block!important;}	
		 .solution-cloudcard-app {width:96%!important;}
		 .cloudcard:last-child { margin-right: 0px!important;}
		 
		 .cloud-testing .in-sbox-height{width: 25%;} 
		 .cloudappsmiddle {width:95%;}

			

	}
	
	@media screen and (max-width: 600px) and (orientation : portrait)  {
            .first3video {width: 50%!important;  margin-left: 0%;}
           /* .col-xs-landscap-6 {width:50%; float: left;}*/
          .solution-cloudcard-app {width:30%!important;}

	}
	@media screen and (max-width: 800px) and (min-width: 600px) and (orientation : portrait)  {
	  .col-xs-landscap-6 {  width: 70%; margin: 0 auto; }

	}
	
	@media screen and (max-width: 800px) and (min-width: 600px) and (orientation : landscape)  {
            .first3video {width: 33%!important;  margin-left: 0%;}
			.grayimg{display:none!important;}
			
		   .our-point-of-view-row .col-md-3 {
				width: 50%;
				float: left;
			   
			}
		  .our-point-of-view-row  .bgwhiteimg .col-sm-offset-1,.our-point-of-view-row .col-md-3{    margin: 0px 0px 10px 0px !important;  }

			.our-point-of-view-square.bluehdrbox {
				 font-size: 17px;
				  
			}
			.inlineblock{display:inline-block; width: 30%;}
			 .our-point-of-view-row span.inlineblock:nth-child(3) {width: 30%;}
		
			#Indutries-energy #energy-row .our-point-of-view-square.firstsquare {padding-bottom: 34px; }
			.col-xs-landscap-6 {width:50%; float: left;}
			.solution-cloudcard-app {width:30%!important;}
			  .cloudcard:last-child{ margin-right: 2.5rem!important;} 
			  

			
	}
	
	@media only screen and (min-width : 320px) and (max-width : 480px) and (orientation : landscape) {
		.ClientName {font-size: 21px;}
		.ClientCompany {font-size: 16px;}
		.col-xs-landscap-6 {width:80%!important; margin:0 auto; float:none!important;}
		.solution-cloudcard-app {width:60%!important;}
		 .technology-enablers .right-border, .right-border { border:none!important;}
		 .cloud-our-point-of-view .our-point-of-view-square.bluehdrbox {height: auto;}
		
		


	}
	
	

	
	@media only screen and (max-width: 568px)  and (orientation : portrait)  {
            .first3video {width: 100%!important;  margin-left: 0%;}
	}
	   
	
	@media (min-width: 1024px){
		.amazingcarousel-nav { top: 92% !important;}
		  .inds-box-height {
				        width: 32%;
						margin-left: 1%;
						padding: 5px
			}	
			  .inds-box-height:nth-child(4) { margin-left: 34%; }
		
		
		
			  
			  
	}
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    .Cloudcontent .header {
    font-size: 24px;
    line-height: 60px;
}
     .Cloudcontent .header { font-size: 36px;}
     .col-md-2-5{width:20%;}
     .cloud-testing .right-border { height: 110px; margin-top: 10px;     border-right: 1px solid #cccccc;}
     
      .cloud-IIOT .right-border {height:380px;}
        .collaspe-bt h4 {font-size:18px;}
     
     
     #testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}
      .technology-enablers .right-border  {border-right: 1px solid #CCCCCC;}
		
		#serviceofferings {font-size: 26px!important;}
		.OfferingHome { margin-top: 5px!important;}
		.section-heading, .cloud-IIOT .section-color h3  {
           font-size: 26px!important;
        }
		#SAPHOME #technologyfwd,#SAPHOME #De-Customization { height:741px!important;}
		#industrysoln, #SAPHealthCheck {padding-bottom:50px;height:auto !important;}
		/*.thoughtldr-wrap {padding: 30px 20px!important; }*/
		.in-sbox-height { height: 220px!important; }
		.center {padding-bottom:15px!important; padding-top:15px!important;}
		
		.box-height,.inds-box-height {width:25%!important;}
		
	    .box-height.col-md-offset-3, .inds-box-height.col-md-offset-3{margin-left: 25%!important;}
		
		.in-sbox-height.col-md-offset-4{margin-left: 23.33333333%!important;}
		
		.in-sbox-height {
			height: 210px;
			 width: 16.66666667%;
			 padding-right: 15px;
             padding-left: 15px;
			
		}
		
				
		.amazingcarousel-nav {top: 93% !important;}
		.Tabs ul li a {width: 95%!important;font-size: 14px!important;    font-weight: 600!important;}
		.heading2 { top: 50%!important; }
		/*#quicklinks{display:block!important;}*/
		
		*/
		
		.mbbxlistcontent ul.list-styled  li{
			font-style: italic;
			color: #000000 !important;
			font-weight: 400 !important;
			font-size: 18px !important;
			margin-right: 15px;
		}
 
		   .mbbxlistcontent .bluehdrbox {margin-bottom: 10px!important;}
		 
		  .mbbxlistcontent .bluehdrbox span img {display:inline-block!important;}
		  
		  .mbbxlistcontent .bluehdrbox span > span {   display: inline-block; width: 95px; }
		  
		  .mbbxlistcontent ul li.col-md-8 { 
			width: 70%;
			padding-right: 0px;
			margin-right: 0px;
			
			}
		  .mbbxlistcontent .bluehdrbox span img {width:auto!important;}
		 .mbbxlistcontent ul.list-styled li.col-md-3{font-size: 18px!important;width: auto!important;padding: 0px;margin-right: 22px;}
		 .bluehdrbox span {font-size: 18px!important;width: auto!important;}
		 
		 #LOB_FINANCE .Sapcontent h3, .overview, #LOB_SUPPLYCHAIN .Sapcontent h3 ,#LOB_LOGISTICS .Sapcontent h3 ,#LOB_DIGITALMFG .Sapcontent h3 ,#LOB_ASSETMGMT .Sapcontent h3 ,#LOB_SERVICEMGMT .Sapcontent h3{    font-size: 26px!important;font-weight: 500!important; }
		 #LOB_FINANCE .spacer35 , #LOB_SUPPLYCHAIN .spacer35 , #LOB_LOGISTICS .spacer35,#LOB_DIGITALMFG .spacer35,#LOB_ASSETMGMT .spacer35,#LOB_SERVICEMGMT .spacer35,.spacer35 {height: 35px!important;}
		
  		 #LOB_FINANCE  .greyBoxHt,#cloud-content-wrapper .greyBoxHt,#LOB_LOGISTICS  .greyBoxHt,#LOB_DIGITALMFG  .greyBoxHt,#LOB_ASSETMGMT  .greyBoxHt,#LOB_SERVICEMGMT  .greyBoxHt,#Industries_PEIM .greyBoxHt,#Indutries-energy .greyBoxHt,#Industries_Utility .greyBoxHt,#Industries_Hi-Tech .greyBoxHt,#Industries_Automotive .greyBoxHt,#Industries_Aerospace .greyBoxHt,#Industries_EandC .greyBoxHt,#Indutries_LifeSciences .greyBoxHt, #SAPCPG  .greyBoxHt { height: 240px!important;width: 66.66666667%!important;}
		 
#AssurenceServices .contentinnerfixheight,#AssurenceServices .innerfixheig,#LOB_FINANCE .innerfixheight, #cloud-content-wrapper .innerfixheight,#LOB_SUPPLYCHAIN .innerfixheight,#LOB_LOGISTICS .innerfixheight,#LOB_DIGITALMFG .innerfixheight,#LOB_ASSETMGMT .innerfixheight,#LOB_SERVICEMGMT .innerfixheight ,#Industries_PEIM .innerfixheight,#Indutries-energy .innerfixheight,#Industries_Utility .innerfixheight,#Industries_Hi-Tech .innerfixheight,#Industries_Automotive .innerfixheight,#Industries_Aerospace .innerfixheight,#Industries_EandC .innerfixheight,#Indutries_LifeSciences .innerfixheight ,#SAPCPG  .innerfixheight {height: 200px!important;width: 200px!important; margin-left: 8.33333333%;}
	     #LOB_FINANCE .contentinnerfixheight ,#cloud-content-wrapper .contentinnerfixheight , #LOB_SUPPLYCHAIN .contentinnerfixheight,#LOB_LOGISTICS .contentinnerfixheight,#LOB_DIGITALMFG .contentinnerfixheight,#LOB_ASSETMGMT .contentinnerfixheight,#LOB_SERVICEMGMT .contentinnerfixheight,#Industries_PEIM .contentinnerfixheight,#Indutries-energy .contentinnerfixheight,#Industries_Utility .contentinnerfixheight,#Industries_Hi-Tech .contentinnerfixheight,#Industries_Automotive .contentinnerfixheight,#Industries_Aerospace .contentinnerfixheight,#Industries_EandC .contentinnerfixheight,#Indutries_LifeSciences .contentinnerfixheight, #SAPCPG  .contentinnerfixheight {width: 100%;height: 210px!important;}
		

		#sap-inner-solution h3 {font-size: 18px;}
		 #SAP_USABILITYANDMOBILITY	.overview {font-size: 26px!important;}	
        .techbox {height: 480px !important; }
        .SuccessStory .spacer35 {height:35px;}	
         #sap-inner-solution .spacer35:last-of-type {display:block ;}
         .inds-box-height {
		    width: 25%!important;
			margin-left: 0!important;
			padding: 10px;
			height: 340px!important;
						
		} .inds-box-height:nth-child(4) { margin-left: 0; }	

 	
      
	   .grayimglast {display:block;}
	   .grayimg { display:block!important;}
	   .first3video {    width: 25%!important;margin-left: 0%; margin: 0; }
		 .our-point-of-view-row  .bgwhiteimg   .col-sm-offset-1 {margin:0px 0px 0px 60px !important}
		/* .our-point-of-view-row  .list-styled {margin: 0 0 0 0px;}*/
         .our-point-of-view-square.minheight {min-height: 617px;}
		.inlineblock{display:inline-block; width: 15%;}
	    .our-point-of-view-row span.inlineblock:nth-child(3) {width: 15%}
	    
	    .cloudcard {    margin-right: 2.5rem!important;}
	    .ipadsalesforcetop {top:0px!important;}
	    .solution-cloudcard-app {  width: 78%!important;}
	    .cloudcard:last-child {    margin-right: 0!important;}
	      .arrow-navigation-flow span h3 {   margin: 0;    font-size: 20px;}
	      .arrow-navigation-flow span{width:auto; display:inline-block;}

	

	}
	
	@media only screen and (min-width : 800px) and (max-width : 1280px) and (orientation : landscape) {
		/*.grayimglast {height: 330px!important;}*/
		.clientspeakright .box-reachusnew {height: 413px!important;}
		#Indutries-energy #energy-row .our-point-of-view-square.firstsquare,#Indutries-energy #energy-row .our-point-of-view-square.thirdsquare{padding-bottom: 34px;}
		  .cloudcard {    margin-right: 2.5rem!important;}
		 /* .solution-cloudcard-app {  width: 78%!important;}*/
		   /*.cloudcard:last-child {    margin-right: 0!important;}*/
		      .Cloudcontent .header { font-size: 36px;}
		      .col-md-2-5{width:20%;}
		      .cloud-testing .right-border { height: 110px; margin-top: 10px;     border-right: 1px solid #cccccc;}
		       .technology-enablers .right-border  {border-right: 1px solid #CCCCCC;}

		
	}
	@media only screen and (min-width : 800px) and (max-width : 1280px) and (orientation : portrait) {
		
		.ClientName {font-size: 22px;}
		  .cloudcard {    margin-right: 2.5rem!important;}
		  	 
	}
	@media only screen and (max-width : 1024px) and (min-width : 768px)  and (orientation : portrait) {
	        .cloudcard:first-child{    margin-left: 2.5rem!important;}
	        .cloudcard:last-child{    margin-left: 2.5rem!important;}
	        .cloudcard:nth-child(2) {    margin-right: 0!important;}
	        .col-xs-landscap-6 {width:50%; float: left;}
	        .col-md-2-5{width:33%; float:left;}
		   .cloud-testing .right-border { height: 110px; margin-top: 10px; border-right: 1px solid #CCCCCC; }
		     #testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}

           .cloud-IIOT .right-border { height: 380px;}
            .technology-enablers .right-border  {border-right: 1px solid #CCCCCC;}
             .arrow-navigation-flow span h3 {   margin: 0;    font-size: 1.2rem;}
	         .arrow-navigation-flow span{width:atuo; display:inline-block;}
     
           
            
	}
	
	@media only screen and (max-width : 1024px) and (min-width : 768px)  and (orientation : landscape) {
		
		 
		 /*.grayimglast {height: 274px!important;} */
		 .clientspeakright .box-reachusnew {height: 362px!important;}
		  .cloudcard {    margin-right: 2.5rem!important;}
		  .man-top-space {top: 17rem;}
		  .col-md-2-5{width:33%; float:left;}
		   .cloud-testing .right-border { height: 110px; margin-top: 10px; border-right: 1px solid #CCCCCC; }
		     #testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}

		  .cloud-IIOT .right-border { height: 380px;}
		   .technology-enablers .right-border  {border-right: 1px solid #CCCCCC;}
		   .arrow-navigation-flow span h3 {   margin: 0;    font-size: 16px;}
	      .arrow-navigation-flow span{width:auto; display:inline-block;}
	       .collaspe-bt h4 {font-size:18px;}	


		 
	

	}
	
	@media screen and (max-width: 800px) and (min-width: 600px) and (orientation : landscape)  { .man-top-space {top: 0;}}
	
	 
	
	
	
	@media only screen and (max-width : 736px) and (min-width : 414px)  and (orientation : landscape) {
		
		 .ClientName {font-size: 18px;}
		 .ClientCompany {font-size: 15px;}
		 .col-xs-landscap-6 {width:50%; float: left;}
		  .ipadsalesforcetop {top:14px!important;}
		 .cloudcard {margin-right: 2.5rem!important; display: inline-block!important;}	
		 .solution-cloudcard-app {width:88%!important;}
		 
		 #testing-app-technology-innnovation .col-xs-12 {width: 50%; }
		 .cloud-IIOT .right-border { height: 380px;}
		 .technology-enablers .right-border  { border-right: 1px solid #CCCCCC;}
		 .arrow-navigation-flow span h3 {
			    margin: 0;
			    font-size: 13px;
			    font-weight: bold;
		  }


		

	}
	@media only screen and (max-width : 667px) and (min-width : 375px)  and (orientation : landscape) {
		 .ipadsalesforcetop {top:14px!important;}
		 .cloudcard {margin-right: 2.5rem!important; display: inline-block!important;}	
		 .solution-cloudcard-app {width:98%!important;}
		 /*.cloudcard.col-md-4:nth-child(2) {margin-right: 0px!important;}*/
		 #testing-app-technology-innnovation .col-xs-12 {width: 50%; }
		 .cloud-IIOT .right-border { height: 380px;}
		 .technology-enablers .right-border  { border-right: 1px solid #CCCCCC;}

		}
	
	
	
	
	
	  @media only  screen and (min-width :  1824px) {
	      .clientspeakright{width: 27%!important;}
		  .clientspeakright .box-reachusnew .ul2 {width: 90%; bottom:15px;}
		  .clientspeakleft .vidimg {width:100%}
		  .first3video {width: auto!important; margin-left: 1%; }
		   .grayimg {display:none!important;}
		   .grayimglast {display:none;}
		      .Cloudcontent .header { font-size: 36px;}
		      .col-md-2-5{width:20%;}
		      .cloud-testing .right-border { height: 110px; margin-top: 10px;}
		        #testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}
		    
               
}
	 
    @media only  screen and (min-width :  1825px) {
		 .clientspeakleft {width: 75%;}
		   .Cloudcontent .header { font-size: 36px;}
		   .col-md-2-5{width:20%;}
		   .cloud-testing .right-border { height: 110px; margin-top: 10px;}
		     #testing-app-technology-innnovation .right-border { height: 255px;margin-top: 20px; border-right: 1px solid #CCCCCC;}
		
	}

	
.cs-heading .section-heading
{
    font-weight: 500;
    font-size: 17px!important;
    text-transform: uppercase;
}
 /*-------end-----*/
.greybg {
    background: #E6E6E6;
}

/* for investor added by sanjay */
.investorssubmit{
	background-color: white !important;
    color: darkgrey!important;
	}
	
	.inputinvestors{
	background-color: #2C5487 !important;
	}
	
	/* for investor added by sanjay */

/* Cloud Apps css*/
.CloudApps-wrap
{
    padding: 30px 20px;
    background: #315786;
    margin: 0 auto;
	margin-bottom:3rem;
     width: 80%;
     height: 250px;
}
#capabilities h1, #capabilities h2, #capabilities h3, #capabilities h4, #capabilities h5, #capabilities h6 {
    font-weight: 600;
    font-family: 'Roboto';
    color: #ffffff;
    text-transform: uppercase;
}

#capabilities h3 {
    font-weight: bold;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 1.6em;
    padding-bottom: 3%;
    text-transform: uppercase;
}

#capabilities h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}
#capabilities .container-fluid {
    background: #E6E6E6;
    color: #194479;
}

#capabilities .list-styled {
    /*margin-left: 10%;
    padding: 30px;*/
}

    #capabilities .list-styled li {
        color: #000000;
        
        font-size: 1.1em;
            text-align: justify;
    }
section#capabilities h2 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 3%;
}
section#capabilities {
    margin-top: 2%;
}
.capab
{
	margin-left:104px !important;
	/*margin-right:60px !important;*/
	
}
section#capabilities h4 {
    color: black !important;
    font-size: 14px;
        width: 91%;
    margin: 0 auto;
    height: 101px;
    }
#LinesOfBuss .media-heading1 ,#cloud-Services  .media-heading1{
    font-size: 14px;
    margin: 10px 0;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    /*padding:30px 0;*/
}
.industrysoln-wrap .media-body .media-heading1 {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
    
 /*-----cloud app css shrikant----*/

.box-reachus {
    background: #315786 !important;
}
.right-border{border-right: 1px solid #D9D9D9; height: 200px; float: right;margin-top: 20px; position: relative;left: 15px;}

 .box-reachusnew, .box1 input.txtName {background: #315786 !important;}
 .box-reachusnew input[type="button"], input[type="reset"], input[type="submit"], button {background-color: #fff!important;color: #315786!important;font-size: 15px!important; font-weight: 600!important;}
 .box-reachusnew .box1 input.txtName {border-bottom: 1px solid #9BB6D7; color: #9BB6D7!important;font-weight: 300; text-transform: capitalize;}
 .box-reachusnew .box-inner-reachus {border:none;}  
 .box-reachusnew .titlereachus {border-bottom: 1px solid #9BB6D7;padding-bottom: 10px; width: 94%;}
 .box-reachusnew .reachustiltle{    color: #fff; font-size: 22px; font-family: 'Roboto' !important; font-style: normal;border: none;display: inline;vertical-align: middle}
.box-reachusnew .titlereachus img  { display: inline; margin-right: 4%;}  
 .box-reachusnew  ul.contact {margin-left:6px;}
.box-reachusnew select{width: 97%; height: 30px; background-color: #315786 !important; border-bottom: 1px solid #9BB6D7; border-top: none !important; border-left: none !important; border-right: none !important; color: #9BB6D7!important;}



#cloud-content-wrapper .box-reachusnew, #cloud-content-wrapper .box1 input.txtName {background: #315786 !important;}
#cloud-content-wrapper .box-reachusnew input[type="button"], input[type="reset"], input[type="submit"], button {background-color: #fff!important;color: #315786!important;font-size: 15px!important; font-weight: 600!important;}
#cloud-content-wrapper .box-reachusnew .box1 input.txtName {border-bottom: 1px solid #9BB6D7; color: #9BB6D7!important;font-weight: 300; text-transform: capitalize;}
#cloud-content-wrapper .box-reachusnew .box-inner-reachus {border:none;}  
#cloud-content-wrapper .box-reachusnew .titlereachus {border-bottom: 1px solid #9BB6D7;padding-bottom: 10px; width: 94%;}
#cloud-content-wrapper .box-reachusnew .reachustiltle{    color: #fff; font-size: 22px; font-family: 'Roboto' !important; font-style: normal;border: none;display: inline;vertical-align: middle}
#cloud-content-wrapper .box-reachusnew .titlereachus img  { display: inline; margin-right: 4%;}  
#cloud-content-wrapper .box-reachusnew  ul.contact {margin-left:6px;}
#cloud-content-wrapper .box-reachusnew select{width: 97%; height: 30px; background-color: #315786 !important; border-bottom: 1px solid #9BB6D7; border-top: none !important; border-left: none !important; border-right: none !important; color: #9BB6D7!important;}
#cloud-content-wrapper .header2 {
    background-color: #DDDDDF;
    float: left;
    width: 100%;
    padding: 15px 0;
}
#cloud-content-wrapper .header2 .inner-navigation ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}


#cloud-content-wrapper .header2 .inner-navigation {
width: 90%;
    background-repeat: repeat-x;
    margin: 0 auto;
    padding: 0;
}

#cloud-content-wrapper .header2 .inner-navigation ul li {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    border-right: 1px solid #000;
    line-height: 15px;
    margin: 5px 0 8px;
    padding: 0 6px;
}

#cloud-content-wrapper .header2 .inner-navigation ul li:last-child {
    border-right: none;
}





#cloud-Services .LinesOfBuss-wrap{
	height:350px;
	position:relative;
}

@media only screen and (min-width : 320px) and (max-width : 568px) and (orientation : landscape) {
		#cloud-Services .LinesOfBuss-wrap { height: 380px;}
		.solution-cloudcard-app {width:40%!important;}
	}
	
	
#cloud-Services .media-heading { padding-top:10px;}
#cloud-Services .read-more{display: inline-block; position: absolute; bottom: 11px;text-align:center; width:80%;color: #fff;font-size:16px;font-style:italic;font-weight:300;}
#cloud-Services .media-heading1 {font-size: 15px;font-weight: 300;}
#cloud-Services .media-body p {font-weight: 300;font-size: 14px!important;padding-top: 10px;}

#cloud-content-wrapper .header2 .inner-navigation ul li a {
    text-align: center;
    font-size: 13px;
    color: #4C4B4B;
    font-weight: bold;
        text-decoration: none;
}
 
#cloud-content-wrapper .header2 .inner-navigation ul li.active a, #cloud-content-wrapper .header2 .inner-navigation ul li a:hover{
	color: #ed6317;
}

.cloud-content-wrap {
padding: 30px 20px;
    
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 80%;
    height: 260px;/*Chnaged from 250 to 260 by sourabh bz content is getting cut in mobiles*/
    }   

#cloudInner-Services
{
	background-image:url('/PublishingImages/services_bg.png');
	margin-top: 20px;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#cloud-SolutionsOfferings {
    background-image: url(/PublishingImages/IIOTBG%20Image.png);
     background-repeat: no-repeat;
      background-position: left bottom;
    padding-bottom: 12rem;

}

#Insurance-SolutionsOfferings {
    background-image: url(/PublishingImages/solutions_bg.jpg);
     background-repeat: no-repeat;
     /* background-position: left bottom;
    padding-bottom: 12rem;*/
background-size: cover;
min-height: 645px;
}


#cloud-SolutionsOfferings .bx-topp-padding {padding-top: 6rem;} 
 
#cloud-app-adaption-services, .cloud-bg-gray {
    background: #EAEAEA url(/PublishingImages/Background%20for%20Cloud%20Man.png) no-repeat !important;
    height:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cloud-app-technology-innnovation {
  background: #EAEAEA url(/PublishingImages/Technology%20Innovation_Imag.png);
     height:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.iiotpara{
text-align: center!important;
color: black !important;
font-style: normal !important;
}


/*-----end-------*/
.reachuspadding
{
	padding-right:0px !important;
}


/*.cloudcard:last-child {
    margin-right: 0px;
}*/

.cloudcard-bg-white{background: #fff;padding: 3rem;}
 .solution-cloudcard-app > .cloudcard {max-width:311px;padding: 1rem; max-height: 304px;margin-bottom: 20px;}

.cloudcard {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #315786;
    border-radius: .25rem;
    margin-right: 2.5rem;
    text-align: center;
    color: #fff;
}
.cloudcard-block {
    padding: 1.25rem;
}
.cloudcard-text:last-child {
    margin-bottom: 0;
}

.cloudcard-title {
    margin-bottom: .75rem;
      color: #fff!important;
}

p.cloudcard-text {
    color: #fff!important;
	min-height:105px;
}

#ONGInner-Services {
background-image: url('/PublishingImages/services_home-ONG.png');
margin-top: 20px;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.cloud-content-wrap .media-body li  {color: #000000;font-family: roboto;list-style-type: square;}
section#capabilities img {
    height: 42px;
}
.capa_UI
{
	color: #000000;
    text-align: justify;
}
.arrow-navigation-flow-wrapper {margin-top:0rem; margin-bottom:0rem;}
.arrow-seprator {width:10%;}

/*Added by Vinay - Reach Us*/

.box-reachus .reachus-input, .box-reachus .textareas{	
    color: #9BB6D7!important;
    font-weight: 300;
    text-transform: capitalize;
    background: #315786 !important;
    
}

.box-reachus .reachus-input,#CountryDrp, #Servicedrpdwn{
	border-bottom: 1px solid #9BB6D7 !important;
	border-top:none!important;
    border-left:none!important;
    border-right:none!important;    
    
}

.box-reachus .textareas{
	border: 1px solid #9BB6D7;
	width: 90%!important;
    margin-left: 2%;
}

.box-reachus .left .w20per{
	margin-left: 3.5%;
	width:32% !important;

}
.box-reachus .left .Number{
	
	width: 39.5% !important;
}

.box-reachus .contactusrecaptcha{
	padding-top: 7px;
    margin-left: 2%;
}
.box-reachus ul.contact li .btnReset
{
	margin-left: 2%!important;
}
/*.box-reachus{
	top:2%;
}*/

.box-reachus .heading{
	font-size: 23px;
    float: left;
    margin-left: 5%;    
    margin-top: 2%;
    color: white;
}

.box-reachus .box .validation,.box-reachus .box .Req {
	margin-left: 6%;
    color: #FF7F7F;
    font-size:14px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	
    
    .box-reachus {    
    right: 0;    
    width: 96%;
    margin-right: 2%;
    position: absolute;
    z-index: 5000000;
	}
    ul.contact li .box input.textfield,.industrydropdown, .referencedropdown{	
	width:90%!important;
	margin-left:2%;
	}
	.box-reachus .contactusrecaptcha {
    padding-top: 7px;
    margin-left: -4%;
    }    
    .box-reachus .box .redstar {
    padding-right: 6%;
    }
    .box-reachus .w97per .redstar {
    padding-right: 4%;
    padding-top: 4%;
    float: right;
    }
    .box-reachus .left .w20per {
    margin-left: 2.5% !important;
    width: 32% !important;
    }
    .box-reachus .left .Number {
    width: 48% !important;
    }    

}

@media only screen and (min-width : 480px) and (max-width : 600px){
	.box-reachus .textareas {    
    width: 84%!important;
    margin-left: 2%;
    }
    .box-reachus .w97per .redstar {
    padding-right: 12%;    
    }
}

@media only screen and (min-width : 600px) and (max-width : 800px){
	.box-reachus .textareas {    
    width: 83%!important;
    margin-left: 2%;
    }
    .box-reachus .w97per .redstar {
    padding-right: 12%;    
    }
}

@media only screen and (min-width : 800px) and (max-width : 1024px){
	.box-reachus .textareas {    
    width: 83%!important;
    margin-left: 2%;
    }
    .box-reachus .w97per .redstar {
    padding-right: 12%;    
    }
}
.ui-widget-content{
	background: #315786 url("../images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
}
.ui-menu .ui-menu-item {
    border-bottom: 1px solid #000;
    color: #9BB6D7!important;
    font-family: Roboto,sans-serif!important;
    font-size: 14px!important;
    list-style-image: none!important;
    text-align: left!important;
    background-color: #315786;
    padding: 10px 3%!important;
}
.ui-menu .ui-menu-item:hover{
	background-color:#315786 !important;
}

.box-reachus .left .w20per{	
    border-right: 1px solid #9BB6D7 !important;
}
input.FieldText {
    height: 34px!important;
    margin-top: 8px;
}
li.ui-state-focus:hover,
li.ui-state-focus:link,
li.ui-state-focus:visited {
	color: #315786 !important;
	text-decoration: none;
}
.box-reachus ul.contact{
	list-style-type: none;
    margin: 10px 0 30px;
    padding: 0;
    float: left;
    width: 106%;
}
/*End*/


/*------ new blue box css-- 22/11/2016 OUR POINT OF VIEW section ---*/

.flbx-list {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-wrap: wrap;
  display: flex;      

}
.flbx-list-item {

    display: flex; 
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;	    
}

 .flex-mg-side {
	padding-left:60px;
    padding-right:60px;
   }

@media all and (min-width: 20em) {
   .flex-mg-side {
	padding-left:5px;
    padding-right:5px;
   }

}

@media all and (min-width: 30em) {
   .flex-mg-side {
	padding-left:30px;
    padding-right:30px;
   }

}



@media all and (min-width: 40em) {
  .flbx-list-item { width: 50%;}
   .flex-mg-side {
	padding-left:20px;
    padding-right:20px;
   }

}

@media all and (min-width: 60em) {
  .flbx-list-item {
    width: 33.33%;
   
  }
   .flex-mg-side {
	padding-left:15px;
    padding-right:15px;
   }
   
}

@media all and (min-width: 70em) {
.flex-mg-side {
	padding-left:60px;
    padding-right:60px;
   }

}


.flbx-list-content {
   background: #34588A;
   display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.flbx-list-content p {
    flex: 1 0 auto;
}

.flex-icon-pd {
	padding-top:15px;
    padding-bottom:15px;
}

.flbx-list .flbx-list-content {
    color: #C9D2DB;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    font-family: Roboto;
    background: #34588A;
}

.flbx-list-content li {
    margin: 0 0 10px 0;
}
/*---end---*/
/*--added by anshul jain-- to make downloade button blue*/
.rm-download {
    background: #315786 !important;
    color: #fff !important;
}
h1 sup{
font-size: 15px!important;
top: -1.5em !important;
}